
.Parameters
  flex 1
  max-width 500px

  background $black
  border-right 5px solid $darkgrey

  color $grey

  font-weight normal

  h1
    font-size 30px
    text-align center
    padding-bottom 20px
    margin-bottom 5px
    border-bottom 2px solid $darkgrey

  h1, h2, h3, h4, h5, h6
    font-weight lighter
  
  .param
    display flex
    justify-content space-between
    align-items center

    margin-top 10px

    .titleDesc
      display flex
      flex-direction column
      justify-content center
      align-items flex-start

      margin-left 10px

      .title
        font-size 20px
        color $lightgrey
