
.Parameters
  .param
    display flex
    justify-content space-between
    align-items center

    margin-top 10px

    .titleDesc
      display flex
      flex-direction column
      justify-content center
      align-items flex-start

      margin-left 10px

      .title
        font-size 20px
        color $lightgrey
